{% extends 'shared/layout.html' %}
{% load static %}
<!-- =======================Title Page============================= -->
{% block title %}My Blog{% endblock %}
{% block header_references %}
    <!-- =====================Custom CSS============================ -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/all-posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">
{% endblock %}
<!-- =======================Start Content Page============================= -->
{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'img/1.png' %}" alt="Jamali-Author of this Programming blog">
            <h2>
                Programming blog project
            </h2>
        </header>
    <p>Hi, my name is Maryam Jamali and I'm a Programmer
    </p>
    </section>
    <section id="latest-posts">
    <h2>latest-posts</h2>
        <ul>
            <!-- ===========Fetching post information================ -->
            {% for post in posts %}
                <!-- ===========Avoid repeating coding with commands include================ -->
                {% include 'blog/includes/posts.html' %}
            {% endfor %}
        </ul>
    </section>
    <section id="about_me">
    <h2>About Me</h2>
    <p>I was very interested in working with computers since I was in high school.
        This interest made me start learning programming in 2013.
        I started with web design and PHP and continued with learning Python, Django, Html, Css, Javascript.
        I want to improve my skills by reading related books and watching movies.</p>
    <h2>What I Do</h2>
    <p>I love Programming and also Teaching it</p>
    </section>
{% endblock %}
<!-- =======================End Content Page============================= -->

